.DS_Store

LocalData/https-portal
LocalData/localstack
LocalData/mongo
LocalData/mysql
LocalData/postgres

App/ruby/vendor/bundle
App/node/node_modules
App/node/amplify/team-provider-info.json

Envfiles/*.env
.env
